@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    @font-face{
    font-family: RubikDistressed-Regular;
    src: url(/dist/fonts/RubikDistressed/RubikDistressed-Regular.ttf) format("truetype");
    font-family: Montserrat-ExtraLight;
    src: url(/dist/fonts/Montserrat/Montserrat-ExtraLight.ttf) format("truetype");
    }
    h1{
        @apply mb-6 text-5xl font-headline text-colorDorado
    }
    h2{
        @apply mb-3 text-3xl font-headline
    }
    h3{
        @apply mb-2 text-2xl font-headline
    }
}


